<html>
  <body>
    <h1>Books</h1>
    <table>
      <tr>
        <th>title</th>
        <th>body</th>
        <th colspan="3"> </th>
      </tr>
      <tr>
        <td>リーダブルコード</td>
        <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
        <td>
          <a>Show</a>
        </td>
        <td>
          <a>Edit</a>
        </td>
        <td>
          <a>Destroy</a>
        </td>
      </tr>
  
    </table>
    <h2>New book</h2>
    <form>
  
    </form>
  </body>
</html>